// helpers
@mixin border($color,$colorbg) {
            border: solid 1px $color;
            background-color: $colorbg;
  }
  
.bordes { @include border(red, white); }
.bordes1 { @include border(blue, white); }
.bordes2 { @include border(lime, white); }
.bordes3 { @include border(purple, white); }
  
// estilos containerGraficos

.containerGraficos{
    height: 25rem;
    .donut{
        height: 50%;
    }
    .pie{
        height: 50%
    }
}

.containerGraficos div:nth-child(2){
    display: flex;
    flex-direction: column;

}

// estilos containerControles

.containerControles {
    text-align: center;
    height: 15rem;
}
.containerControles .col-12{
    display: flex;
    justify-content: space-around;
}
.containerControles .containerSlider{
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

